@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.5;
}

img {
  width: 100%;
}

.section {
  margin-top: 100px;
}


.container {
  width: 80%;
  margin: 0 auto;

}

.banner__bg {
  background-image: url("../assets/top-banner.png");
  background-repeat: no-repeat;
}

.banner {
  display: flex;
}

.banner__description,
.banner__image {
  width: 50%;
  padding: 2%;
}



.banner__description h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.banner__description h3 {
  margin: 25px 0 35px 0;
}


.banner__description p {
  margin-bottom: 35px;
}

.name__highlight {
  color: #3999F7;
}

.link__btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, #3999F7, #0EE7CC);
  padding: 10px 25px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.dream__area{
  background-image: url("../assets/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}


.dream__btn__color{
  background-image: linear-gradient(45deg, #FFA032, #FFC61D);
}


.experience__area{
  background-image: url("../assets/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.experience__box{
  display: flex;
}

.experience__area h1, .single__experience h1{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.single__experience h3{
  margin-bottom: 10px;
}

.single__experience p{
  text-align: justify;
}

.single__experience{
  width: 50%;
  padding: 3%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 5px;
  background-color: white;
}

.sky__highlight{
  color:#3999F7 ;
}

#full__stack{
  margin-right: 30px;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightSalmon, tomato);
  border-image-slice: 1;
}
#baby__web{
  margin-left: 30px;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}